@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #D2E2FA;
}

.container {
    width: 85vw;
    margin: 3em auto;
    max-width: 800px;
}

.card {
    background-color: grey;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: .5em;
}

.card h1 {
    text-align: center;
}

#login .container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: white;
    padding: 2em 1em;
    border-radius: 1em;
    gap: 1em;
    text-align: center;
    color: #052C67;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#login button {
    background-color: #052C67;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#login input {
    border: 1px solid #052C67;
}

.input {
    font-size: 1em;
    border: none;
    border-radius: .5em;
    padding: .5em 1em;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1em;
}

thead {
    font-weight: bold;
    background-color: black;
    color: white;
}

td {
    padding: .5em;
    vertical-align: top;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

#admin ul {
    margin-top: 1em;
}

#admin li {
    margin-bottom: 1em;
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

ion-icon {
    cursor: pointer;
}

.searchbar {
    display: flex;
    gap: .5em;
    font-size: 2em;
}

.searchbar input {
    width: 100%;
    padding: 0 1em;
    border-radius: 1em;
    border: 1px solid black;
    font-family: inherit;
    font-size: .5em;
}

.header {
    display: flex;
    align-items: center;
    gap: .5em;
}

.header h1 {
    display: flex;
}