<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surveryer</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div id="home" v-if="page=='home'">
                <h1 class="box">ยินดีต้อนรับ คุณครู{{user.fname}} {{user.lname}}</h1>
                <div class="summary box">
                    <div class="questions">
                        <div id="q1">
                            <p>Q1 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q1}}</p>
                            </div>
                        </div>
                        <div id="q2">
                            <p>Q2 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q2}}</p>
                            </div>
                        </div>
                        <div id="q3">
                            <p>Q3 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q3}}</p>
                            </div>
                        </div>
                        <div id="q4">
                            <p>Q4 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q4}}</p>
                            </div>
                        </div>
                        <div id="q5">
                            <p>Q5 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q5}}</p>
                            </div>
                        </div>
                        <div id="q6">
                            <p>Q6 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q6}}</p>
                            </div>
                        </div>
                        <div id="q7">
                            <p>Q7 AVG.</p>
                            <div class="circle">
                                <p>{{summary.q7}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="information box" v-if="data.length > 0">
                    <table>
                        <thead>
                            <td>ระดับชั้น</td>
                            <td>ห้อง</td>
                            <td>วิชา</td>
                            <td>Q1</td>
                            <td>Q2</td>
                            <td>Q3</td>
                            <td>Q4</td>
                            <td>Q5</td>
                            <td>Q6</td>
                            <td>Q7</td>
                            <td>ข้อเสนอแนะ</td>
                        </thead>
                        <tbody>
                            <tr v-for="(data, id) in data" :key="id">
                                <td>{{data.class}}</td>
                                <td>{{data.room}}</td>
                                <td style="text-align: left">{{data.subject}}</td>
                                <td>{{data.q1}}</td>
                                <td>{{data.q2}}</td>
                                <td>{{data.q3}}</td>
                                <td>{{data.q4}}</td>
                                <td>{{data.q5}}</td>
                                <td>{{data.q6}}</td>
                                <td>{{data.q7}}</td>
                                <td style="width:15vw; text-align: left;">{{data.comment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="admin" v-if="page=='admin'">
                <div class="searchbar" v-if="!user.username">
                    <input v-model="username" type="text">
                    <ion-icon @click="search()" name="search-outline"></ion-icon>
                </div>

                <ul v-if="!user.username">
                    <li v-for="user in filteredUser">
                        <p class="username">{{user.username}}</p>
                        <p class="fullName" style="font-weight:bold">{{user.fname}} {{user.lname}}</p>
                        <ion-icon name="eye-outline" @click="showUser(user)"></ion-icon>
                    </li>
                </ul>

                <div class="result" v-if="user.username">
                    <div class="header">
                        <h1>คุณครู{{user.fname}} {{user.lname}}</h1>
                        <h1>
                            <ion-icon name="close-circle-outline" @click="reset()"></ion-icon>
                        </h1>
                    </div>

                    <div class="information" v-if="filteredData.length > 0">
                        <table>
                            <thead>
                                <td>ระดับชั้น</td>
                                <td>ห้อง</td>
                                <td>วิชา</td>
                                <td>Q1</td>
                                <td>Q2</td>
                                <td>Q3</td>
                                <td>Q4</td>
                                <td>Q5</td>
                                <td>Q6</td>
                                <td>Q7</td>
                                <td>ข้อเสนอแนะ</td>
                            </thead>
                            <tbody>
                                <tr v-for="(data, id) in filteredData" :key="id">
                                    <td>{{data.class}}</td>
                                    <td>{{data.room}}</td>
                                    <td style="text-align: left">{{data.subject}}</td>
                                    <td>{{data.q1}}</td>
                                    <td>{{data.q2}}</td>
                                    <td>{{data.q3}}</td>
                                    <td>{{data.q4}}</td>
                                    <td>{{data.q5}}</td>
                                    <td>{{data.q6}}</td>
                                    <td>{{data.q7}}</td>
                                    <td style="width:15vw; text-align: left;">{{data.comment}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div id="login" v-if="page=='login'">
                <div class="container">
                    <h1>LOGIN PAGE</h1>
                    <input v-model="username" class="input" type="text" placeholder="Enter username">
                    <input v-model="password" class="input" type="password" @keyup.enter="login()"
                        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                    <button class="input" type="submit" @click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios@0.27.2"></script>
    <script src="./js/main.js"></script>
</body>

</html>